{% extends 'layout.html' %}

{% block content %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jsquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#data").DataTable();
        });
    </script>
    <style>
        body {
            background: linear-gradient(to bottom right, #ffdb58, #ff69b4);
            height: 100vh;
            margin: 0;
            padding: 0;
        }

        table {
            color: black;
        }

        table th, table td {
            font-size: 17px;
        }

        .btn-download {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 4px 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 13px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 5px;
        }

        .btn-delete {
            background-color: #f44336;
            border: none;
            color: white;
            padding: 4px 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 13px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 5px;
        }

        .muzera {
            font-size: 60px;
            font-weight: bold;
            color: #800080;
            text-shadow: 3px 3px 0 #fff, 4px 4px 0 #800080;
            text-align: center;
            position: center;
            top: 0;
            left: 0;
            margin: 20px 0 0 20px;
        }
    </style>

    {#    <h3 class="muzera" style="text-align: center; text-transform: uppercase">Music Era Detector</h3>#}

 <h1 style="color: #6c757d; text-align: center; text-transform: uppercase">Files Uploaded</h1>
    <div style="position: center" id="search-bar">
        <br>
        <br>
        <label style="font-size: larger;color: #0c5460" for="myInput">Search:</label>
        <input type="text" id="myInput" onkeyup='tableSearch()' placeholder="Search">
    </div>
    <br>
    <br>
    <table id="data" class="table table-striped">
        <thead>
        <tr>
            <th>Number</th>
            <th>Title</th>
            <th>Composer</th>
            <th>Era</th>
            <th>Upload Time</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for ch in check_results %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ ch['title'] }}</td>
                <td>{{ ch['composer'] }}</td>
                <td>{{ ch['era'] }}</td>
                <td>{{ ch['checked_at'] }}</td>
                <td><a class="btn-download" href="{{ ch['download_link'] }}">Download</a></td>
                <td><a class="btn-delete" href="{{ url_for('delete_file', key=ch['Key']) }}"
                       onclick="return confirm('Are you sure you want to delete this file?')">Delete</a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div id="spinner" style="display: none;">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    {% if success_msg %}
        <script>
            alert("{{ success_msg }}");
        </script>
    {% endif %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/history.js') }}"></script>


{% endblock %}
