{% extends 'layout.html' %}

{% block title %}Result{% endblock %}

{% block content %}

    <style>
		body {
			background: linear-gradient(to bottom right, #ffdb58, #ff69b4);
			/* Replace #ff99cc and #66ccff with your desired colors */
			height: 100vh;
			margin: 0;
			padding: 0;
		}
	</style>

  <h4 style="margin: auto;width: 80%; text-align: center; margin-top: 20px;  text-transform: uppercase">Music Era Check Result</h4>
<div style="width: 90%; margin: auto; text-align: center">
    <p style="font-style: italic">{{ image_file_name }}</p>

    <h3 style="margin-top: 40px"><b>Predicted Label: <span style="color: green">{{ label }}</span></b></h3>
    <h3><b>Accuracy : <span style="color: green;">{{ accuracy }} %</span></b></h3>
    <img src="{{ url_for('send_file', filename=image_file_name)}}" style ="max-width: 500px; max-height: 450px; margin-top: 30px; margin-bottom: 10px">
    
</div>

{% endblock %}